[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "QCSimulator"]
	path = QCSimulator
	url = https://github.com/tvganesh/qcsimulator
[submodule "cricketr"]
	path = cricketr
	url = https://github.com/tvganesh/cricketr
[submodule "yorkr"]
	path = yorkr
	url = https://github.com/tvganesh/yorkr
